* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: robotoblod;
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
}

header {
    width: 1366px;
    height: 200px;
    background-color: #6495ED;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 405px;
}

.main-nav {
    width: 1366px;
    height: 40px;
    background-color: #464646;
    margin: 6px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: robotoblod, serif;
    font-size: 20px;

}

.main-nav a:hover {
    background-color: #797979;
    border-radius: 13px;

}

main {
    width: 1366px;
    height: 2000px;
    background-color: #13ad5844;
    margin: 0 auto;
}

.main-sec {
    width: 1300px;
    height: 450px;
    margin-top: 40px;
    margin-left: 33px;
    float: left;
}

.foto {
    width: 400px;
    height: 450px;
    float: left;
    text-align: center;
    margin-left: 33px;
}

.foto img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.texto h2 {
    margin: 15px;
    border-radius: 15px;
}

.texto {
    width: 800px;
    height: 450px;
    border-radius: 15px;
    background-color: #FFD700;
    float: left;
    padding: 30px;
    margin-left: 33px;
    font-family: lato, sans-serif;
    font-size: 22px;
}

footer {
    width: 1366px;
    height: 400px;
    margin: 0 auto;
    background-color: #464646;
}

footer section {
    width: 1286px;
    height: 350px;
    background-color: #0038a0;
    border-radius: 25px;
    float: left;
    margin-left: 40px;
    margin-top: 25px;
    padding: 20px;
    font-family: robotoblod;
    display: flex;
}

.footer-img {
    width: 200px;
}

.footer-nav {
    width: 250px;
    text-align: justify;

}

.footer-nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 15px;
    font-family: robotoblod, serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-nav a:hover {
    background-color: #6494ed15;
    border-radius: 13px;
    margin-left: 30px;
}

footer article {
    color: #f0f0f0;
    width: 400px;
    margin: 20px;
}

.legal {
    width: 250px;
    text-align: justify;
    margin-top: 94px;
}

.legal a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 15px;
    font-family: robotoblod, serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.legal a:hover {
    background-color: #6494ed15;
    border-radius: 13px;
    margin-left: 15px;
}

.info {
    float: right;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.info p {
    font-size: 20px;
    padding: 10px;

}